<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Landing Page for Sports Management</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

	<div id='container'>

	<div id='login'>
		<a href='/loginuser'><button>LOGIN</button></a>
	</div>

	<div id='register'>
		<a ref='/registeruser'><button>REGISTER</button></a>
	</div>

	</div>


	<div id='footer'></div>
</body>
</html>