<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sports Management System - Team Input</title>
	<style>
	*{
		font-family: 'helvetica neu',tahoma,verdana;
	}
	.halfl {
		float: left;
		width: 50%;
		text-align: left;
	}
	.halfr {
		float: left;
		width: 50%;
		text-align: right;
		font-size: 8pt;
	}
	.clear {
		clear: both;
	}
	#container {
		width: 500px;
		margin: 0 auto;
	}
	</style>
</head>
<body>

	<div id='container'>
		<div id='head'>
			<h2>We're make this angular baby!!</h2>
			header - common header to come.
		</div>
		
		<div id='content'>content</div>

		<div id='footer'>footer - common footer to come</div>

	</div>
	
</body>
</html>